@import "/*";
@import "bootstrap";
@import "tether";

.logo {
    border-bottom: 5px solid red;
    height: 80px;
}

.right-left-navbar {
    border-bottom: 5px solid #847f7b;
}

.nav-header {
    color: #e0dfde;
    font-family: 'Oswald', sans-serif;
}