@import "/*";
@import "bootstrap";
@import "tether";

.logo {
    border-bottom: 5px solid red;
   
}

.right-left-navbar {
    border-bottom: 5px solid #847f7b;
}

.nav-header {
    color: #e0dfde;
    font-family: 'Oswald', sans-serif;
    height: 80px;
}

.privacy {
    color: #ec612f !important;
}

.nav-footer {
    background-color: #4e433d;
    color: #e0dfde;
    font-family: 'Oswald', sans-serif;
}

