// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-field {
  margin: 10px auto;
  width: 500px;
  height: 500px;
  background-color: #4e433d;
}

.field {
  color: #ec612f;
  margin-top: 10px;
}
